# extends "layout.html"

# block head
{{ super() }}
<link rel="stylesheet" ref = "{{ url_for('static', filename = 'styles/index.css') }}" />
# endblock

# block body
<h3>Question: {{question}}</h3>
<div class="row  ">
  # if missing_words|length > 0:
  <div class="alert alert-warning" role="alert">
    <ul>
      # for word in missing_words:
      <li>
        {{word}} is not in vocabulary.
      </li>
      # endfor
    </ul>
  </div>
  # endif
</div>
<br />
<h3>Possible Tags</h3>
<ul>
# for item in possible_tags:
  <li>{{item[0]}}({{item[1]}})</li>
# endfor
</ul>
# endblock
